.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  height: calc(100vh - 3rem);
}

.base-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 80vw;

  h2 {
    margin-bottom: 1rem;
  }
}

.guest {
  @extend .base-block;
  flex: 1;
  background-color: lightslategray;
}

.me {
  @extend .base-block;
  flex: 1;
  background-color: mediumaquamarine;
}

.buttons {
  @extend .base-block;

  button {
    width: 10rem;
    height: 3rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}